# Core Framework
langchain
langchain-community
langchain-core

# Local Model & Data Handling
langchain-huggingface
sentence-transformers
huggingface-hub
pydantic
pydantic-settings

# Vector Store & Data (If you use RAG)
chromadb
langchain-chroma
numpy

# Utilities
python-dotenv
tqdm
aiohttp
psutil
PyYAML

# --- LangChain Ecosystem ---
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-openai
langchain-groq
langgraph
langsmith

# --- AI & Model Tools ---
sentence-transformers
transformers
torch
huggingface-hub
tokenizers
onnxruntime

# --- Data & Vector Storage ---
chromadb
numpy
pydantic
pydantic-settings
SQLAlchemy
faiss-cpu

# --- Utilities & Performance ---
python-dotenv
tqdm
psutil
aiohttp
pyyaml
rich
typing-extensions

## fastapi

aiosqlite
alembic
annotated-doc
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asgi-correlation-id
asttokens
async-timeout
asyncio
asyncpg
backoff
backports.tarfile
bcrypt
build
CacheControl
certifi
cffi
charset-normalizer
cleo
click
comm
crashtest
cryptography
databases
debugpy
decorator
Deprecated
distlib
dnspython
dulwich
ecdsa
email-validator
exceptiongroup
executing
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
fastjsonschema
filelock
findpython
gphoto2
greenlet
gunicorn
h11
httpcore
httptools
httpx
idna
importlib_metadata
installer
ipykernel
ipython
jaraco.classes
jaraco.context
jaraco.functools
jedi
jeepney
Jinja2
jupyter_client
jupyter_core
jwt
keyring
limits
Mako
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
more-itertools
msgpack
nest_asyncio
numpy
opencv-python
packaging
parso
passlib
pbs-installer
pexpect
pickleshare
pkginfo
platformdirs
poetry
poetry-core
prompt_toolkit
psutil
psycopg2-binary
ptyprocess
pure_eval
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pyproject_hooks
python-dateutil
python-dotenv
python-jose
python-multipart
PyYAML
pyzmq
RapidFuzz
requests
requests-toolbelt
rich
rich-toolkit
rignore
rsa
SecretStorage
sentry-sdk
shellingham
six
slowapi
SQLAlchemy
stack_data
starlette
tenacity
tomli
tomlkit
tornado
traitlets
trove-classifiers
typer
typing-inspection
typing_extensions
urllib3
uvicorn
uvloop
virtualenv
watchfiles
wcwidth
websockets
wrapt
zipp
zstandard
langgraph
langchain-postgres 
psycopg[binary,pool]